Repository BatemaDevelopment/batemadevelopment.com, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, source

Rename CNAME to A
  docs/A
  docs/CNAME
Labels: none

Create CNAME
  docs/CNAME
Labels: none

Delete CNAME
  docs/CNAME
Labels: none

Create CNAME
  docs/CNAME
Labels: none

Delete A
  docs/A
Labels: none

Delete themeChooser.js
  docs/js/stylesheets/themeChooser.js
Labels: source

Update index.html
  docs/index.html
Labels: source

Update index.html
  docs/index.html
Labels: source

Update a ton of things
  .gitattributes
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  SECURITY.md
  docs/agreements/privacypolicy.html
  docs/agreements/tos.html
  docs/contact/contact.html
  docs/errors/404.html
  docs/html5/agreements/privacypolicy.html
  docs/html5/agreements/tos.html
  docs/html5/contact/contact.html
  docs/html5/errors/404.html
  docs/html5/store/donations/donations.html
  docs/html5/store/store.html
  docs/ico/BatemaDevelopment.png
  docs/index.html
  docs/index.js
  docs/store/donations/donations.html
  docs/store/store.html
  docs/stylesheets/contacttheme.css
  docs/stylesheets/privacypolicytheme.css
  docs/stylesheets/storetheme.css
  docs/stylesheets/theme.css
  docs/stylesheets/tostheme.css
Labels: documentation, source

Update index.html (#6)
  .gitattributes
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  SECURITY.md
  docs/agreements/privacypolicy.html
  docs/agreements/tos.html
  docs/contact/contact.html
  docs/errors/404.html
  docs/html5/agreements/privacypolicy.html
  docs/html5/agreements/tos.html
  docs/html5/contact/contact.html
  docs/html5/errors/404.html
  docs/html5/store/donations/donations.html
  docs/html5/store/store.html
  docs/ico/BatemaDevelopment.png
  docs/index.html
  docs/index.js
  docs/store/donations/donations.html
  docs/store/store.html
  docs/stylesheets/contacttheme.css
  docs/stylesheets/privacypolicytheme.css
  docs/stylesheets/storetheme.css
  docs/stylesheets/theme.css
  docs/stylesheets/tostheme.css
Labels: documentation, source

Fix merge problems and column width
  docs/agreements/privacypolicy.html
  docs/agreements/tos.html
  docs/contact/contact.html
  docs/errors/404.html
  docs/index.html
  docs/store/donations/donations.html
  docs/store/store.html
  docs/stylesheets/contacttheme.css
  docs/stylesheets/privacypolicytheme.css
  docs/stylesheets/storetheme.css
  docs/stylesheets/theme.css
  docs/stylesheets/tostheme.css
Labels: source

Fix tos page column and add about.html
  docs/other/about.html
  docs/stylesheets/theme.css
Labels: source

Fix the about page
  docs/other/about.html
Labels: source

quick fix
  docs/store/donations/donations.html
Labels: source

Delete donations.html and update store.html
  docs/store/donations/donations.html
  docs/store/store.html
Labels: source

Fix plain old links in all files
  docs/stylesheets/theme.css
Labels: source

add comments to previous commit
  docs/stylesheets/theme.css
Labels: source

Add context to most pages
  docs/agreements/privacypolicy.html
  docs/agreements/tos.html
  docs/errors/404.html
  docs/index.html
  docs/other/about.html
Labels: source

.github/labeler.yml:

# Add 'documentation' label to any documentation file changes
documentation:
  - .gitignore
  - .gitattributes
  - README.md
  - LICENSE
  - .github/*/*.*
  - .github/*/*/*.*
  
# Add 'test' label to any change to src/java/test/**/* files within the source dir
test:
  - test/docs/*.*
  - test/docs/*/*.*
  - test/docs/*/*/*.*
  - test/docs/*/*/*/*.*
  - test/docs/*/*/*/*/*.*

# Add 'source' label to any change to src files within the source dir
source:
  - docs/*.*
  - docs/*/*.*
  - docs/*/*/*.*
  - docs/*/*/*/*.*
  - docs/*/*/*/*/*.*
